<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="dates" value="20130910_1803" />

        <add key="basePath" value="C:/Workspace/Courses/AI/Project/Sept10-SimulatorFiles/Sept10-SimulatorFiles" />
        <!-- Following file paths are appended to basePath -->
        <add key="configFile" value="/Configuration.json" />
        <add key="projectionFile" value="/Projection.json" />
        <add key="airportsFile" value="/Airports.csv" />
        <add key="landingFile" value="/Landing.csv" />
        <add key="taxiFile" value="/Taxi.csv" />

        <!-- Day specific file pattern;  also appended to basePath-->
        <add key="weatherFiles" value="/weather_{0}.txt.gz" />
        <add key="flightFiles" value="/flights_{0}.csv" />
        <add key="groundConditionFiles" value="/groundConditions_{0}.csv" />
        <add key="actualTakeoffFiles" value="/actualTakeoffs_{0}.csv" />
        <add key="actualLandingFiles" value="/actualLandings_{0}.csv" />

        <!-- Flight Logs -->
        <add key="flightLogFiles" value="/Logs/flightLog_{0}_{1}.csv"/>
        <!-- filled with submission file name and day -->
        <add key="flightCostsFile" value="/Logs/{0}_costs.csv"/>

        <!-- Airspace -->
        <add key="restrictedZonesFile" value="/restrictedZones.csv" />
        <add key="turbulentZonesFiles" value="/turbulentZones_{0}.csv" />

    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="2.0.0.0" newVersion="4.3.0.0" />
                <bindingRedirect oldVersion="2.3.5.0" newVersion="4.3.0.0" />
                <bindingRedirect oldVersion="4.0.0.0" newVersion="4.3.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
